body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(255,255,204);
    font-family: sans-serif;
}


nav
{
    margin-bottom: 30px;
    height: 60px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: rgb(200,178,150);
    display: flex;
    justify-content: center;
}
nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li
{
    padding: 15px;
}
nav a
{
  color: white;
  text-decoration: none;
  font-size: 130%;
}
nav a:hover
{
  text-shadow: 2px 2px black;
}


header
{
  margin-bottom: 50px;
}


div
{
  width: 75%;
}


p
{
  margin-bottom: 50px;
}

#pdf
{
  margin-top: 75px;
  margin-bottom: 100px;
}


ul
{
    list-style-type: none;
}


#pic
{
  margin-top: 40px;
}


span
{
  align-self: flex-start;
  margin-left: 20px;
}


footer
{
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(200,178,150);
  border-top: 1px solid black;
  margin-top: 60px;
}
